main{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form{
    border-radius: 10px;
    padding: 19px;
    margin: 5px;
    box-shadow: 3px 3px 8px #888;
    color: white;
    font-size: 48px;
    background-color: #ff0000;
    width: 500px;
    height: 300px;
    cursor: pointer;
}

form span.material-symbols-outlined{
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 160px;
}

form p{
    color: white;
    font-weight: bold;
    margin: 0;
}