/* Header */
header{
    background-color: #07d200;
    width: 100%;
    height: 80px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header-logo > img {
    height: 120px;
    margin-top: -18px;
}


#button-logout {
    margin-right: 20px; /* Aggiungi margine a destra se necessario */
}

#button-logout button {
    padding: 10px 20px;
    background-color: red; /* Colore rosso per il logout */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px;
}

#button-logout button:hover {
    background-color: #c9302c; /* Colore più scuro al passaggio del mouse */
}

/* Main */
html,body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", Sans-Serif, serif;
}

main {
    padding-top: 110px;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    max-height: 200px;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #f2f2f2;
    clear: both;
}

footer p {
    text-align: center;
    margin: 5px auto;
}
footer span{
    font-style: italic;
}

#wrapperFooter{
    min-height: 100%;
}